<section class="w3l-about-breadcrumb">
  <div class="breadcrumb-bg breadcrumb-bg-about py-5">
    <div class="container py-lg-5 py-md-3">
      <h2>{{ title }}</h2>
      <p>Neura Cusco</p>
    </div>
  </div>
</section>