
{% extends "themes/custom/nuevo/templates/base.html.twig" %}

{% block main %}
{{ page.titulo }}
<!-- w3l-content-photo-5 -->
<div class="w3l-content-photo-5 py-5">
	<div class="content-main py-lg-5 py-md-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 content-left">
        			{{ page.content }}
				</div>
				<div class="col-lg-4 content-photo mt-lg-0 mt-md-5 mt-4">
				{{ page.sidebar }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
